/* ============================== */
/* ! Layout for desktop version   */
/* ============================== */

	body {
		font-family: Tahoma, Sans-Serif;
		line-height: 1.4em;
		margin: 30px 0;
		background: #eee;
	}
	
	h1 { font-family: 'Bowlby One SC', Sans-Serif; font-weight: normal; font-size: 2.4em; line-height: 1em; }
	h1, h2, h3, h4, h5 { margin: 0 0 .5em; }
	p, ul, ol, dl, table { margin: 0 0 1em; }
  table { margin: 0 0 1em; }
  pre { border: 2px dotted #ccc; background: #eee; padding: 10px; margin: 0 0 1em; }

  .left-col { text-align: center; }
  .left-col dt, .left-col dd { float: left; margin: 0 0 1em; width: 50%; }
  .left-col dd { text-align: left; text-indent: 10px; }
  .left-col dt { clear: left; text-align: right; }

    /* Slider styles - this isn't needed, but load transition is smoother if set by default */
    .slider, .slider li { margin: 0; padding: 0; list-style-type: none; }
    .slider-wrap { margin: 0 0 1em; background: #fff; }

    #fluid-demo { height: 300px; }
    #fluid-demo .item { height: 300px; }
    #fluid-demo .item1 { background: #999; }
    #fluid-demo .item2 { background: #aaa; }
    #fluid-demo .item3 { background: #bbb; }
    #fluid-demo .item4 { background: #ccc; }
    #fluid-demo .item5 { background: #ddd; }
    #fluid-demo .item6 { background: #eee; }

    /* Demo 1 */
    #demo1 { height: 300px; }
    #demo1 li a { color: #000; font-size: 2em;}
    #demo1 .item { width: 380px; height: 280px; padding: 10px; background: #ccc; display: block; }
    #demo1 .item1 { background: #999; }
    #demo1 .item2 { background: #aaa; }
    #demo1 .item3 { background: #bbb; }
    #demo1 .item4 { background: #ccc; }
    #demo1 .item5 { background: #ddd; }
    #demo1 .item6 { background: #eee; }

    /* Demo 2 */
    #demo2 { height: 320px; }
    #demo2 li a { color: #000; font-size: 2em;}
    #demo2 li img { width: 740px; max-width: 740px; }

/* ============================= */
/* ! Layout for mobile version   */
/* ============================= */



/* ========================================== */
/* ! Provide higher res assets for iPhone 4   */
/* ========================================== */

@media only screen and (-webkit-min-device-pixel-ratio: 2) { 

/*	.logo {
		background: url(logo2x.jpg) no-repeat;
		background-size: 212px 303px;
	}*/

}